name: Cart CI

on:
  push:
    branches: ["main"]
  workflow_dispatch:

jobs:
  test:
    runs-on: self-hosted
    steps:
      - uses: actions/checkout@v4
      - name: Run a One line test
        run: echo npm test